<nav class="navbar navbar-light bg-light px-5">
<div class="left">
    <a class="navbar-brand" href="#">{{user.userName}}</a>
    <p>{{user.email}}</p>
</div>
<div class="right">
  <a href="/" class="navbar-brand">Home</a>
    <a href="/newBlog" class="navbar-brand">New Blog</a>
    <a class="navbar-brand" href="/logout">Logout</a>
</div>
</nav>