*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
.form-control{
    width:300px !important;
}
#loginForm label{
  display:none !important;
}
#loginForm label.error{
  display:block !important;
    color: red;
}
.sign-up-link{
  text-decoration:none;
}
.blog-container .blog-wrapper{
  border: 1px solid gray;
}


@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}