<!-- As a link -->
<nav class="navbar navbar-light bg-light px-5">
<div class="left">
    <a class="navbar-brand" href="#">{{user.name}}</a>
    <p>{{user.email}}</p>
</div>
<div class="right">
    <a class="navbar-brand" href="/logout">Logout</a>
</div>
</nav>
<section class="blogs">
  <h2 align="center" class="my-5">Your Blogs</h2>
  <div class="blog-container row px-2">
    {{#each user.blogs}}
     <div class="col-md-3 col-12">
      <div class="card-body px-2">
        <h4>{{this.title}}</h4>
        <p>{{this.body}}</p>
      </div>
     </div>
    {{/each}}
  </div>
</section>
