
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-6 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-6 col-lg-6 col-xl-4 offset-xl-1">
        <div class="h2 text-center mb-4">Log in</div>
        <form action="/login-form" method="post" name="form" id="loginForm">
          <div class="d-flex flex-column align-items-center justify-content-center justify-content-lg-start px-5">
          {{#if err}}
          <div class="form-control" style="border:none !important">
          <div class="err text-danger"><p>{{err.message}}</p></div>
        </div>
          {{/if}}
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="email" class="form-control"
              placeholder="Enter a valid email address" name="email"/>
            <label></label>
            <p class="form-label">Email address</p>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="password" class="form-control"
              placeholder="Enter password" name="password"/>
            <label class="lbl" for="form3Example4"></label>
            <p class="form-label ">Password</p>
          </div>
         <div class="form-outline mb-5" style="width: 100%;">
          <a href="/sign-up" class="sign-up-link ms-5">Don't have an account, Sign Up?</a>
          </div>
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>

        </form>
      </div>
    </div>
  </div>
 
    <!-- Right -->
  </div>
</section>
<script>
 $('#loginForm').validate({
    rules:{
        email:{
            required:true,
        },
        password:{
            required:true,
        }
    },
    messages : {
      required: "This field is requied",
    }
 });

</script>